.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

downloads/**/*.mp3
downloads/**/*.zip
downloads/temp/*
downloads/playlists/*
downloads/songs/*
!downloads/songs/.gitkeep
!downloads/playlists/.gitkeep
!downloads/temp/.gitkeep
!downloads/zip/.gitkeep

logs/*.log
!logs/.gitkeep

data/*.session
data/*.session-journal

*.mp3
